/* ===GENERAL=== */
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --thumbnail-green: #3c8328cc;
  --thumbnail-yellow: #dda60fcc;
  --thumbnail-indigo: #085a8acc;
  --thumbnail-orange: #d85f19cc;
  --thumbnail-blue: #3aa2d9cc;
  --thumbnail-turquoise: #23ac8ccc;

  --thumbnail-text-green: #3c8328ee;
  --thumbnail-text-yellow: #dda60fee;
  --thumbnail-text-indigo: #085a8aee;
  --thumbnail-text-orange: #d85f19ee;
  --thumbnail-text-blue: #3aa2d9ee;
  --thumbnail-text-turquoise: #23ac8cee;

  --background-dark: #0c333ee6;
  --background-medium: #145568e6;
  --background-light: #7ecce2e6;
  --blue-light: #7ecce2; /* for footer, email button default, and h2*/
  --blue-medium: #2499bb; /* for footer links hover */
  --blue-dark: #145568; /* for footer, footer links default, and email button hover */
  --blue-superdark: #041114;
}

html {
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
}

body {
  background-image: url(../assets/images/background-rawpixel-600782-unsplash.jpg);
  object-fit: cover;
  background-attachment: fixed;
}

.background-dark {
  width: 100vw;
  background: var(--background-dark);
}

.background-medium {
  width: 100vw;
  background: var(--background-medium);
}

.background-light {
  width: 100vw;
  background: var(--background-light);
}

p {
  color: var(--blue-superdark);
  text-align: left;
  line-height: 2em;
  padding: 0 0 1.5em;
}




/* ===HEADER=== */

h1 {
  color: white;
  font-size: 80px;
  text-align: center;
  padding: 2.5em 0 0.2em;
  font-weight: 500;
}

h2 {
  color: var(--blue-light);
  font-size: 64px;
  text-align: center;
  padding-bottom: 80px;
  font-weight: 100;
}




/* ===MAIN=== */

.main-grid {
  display: grid;
  grid-template-columns: repeat(3, 28vw);
  grid-template-rows: repeat(2, 28vw);
  margin: 0 6vw;
  grid-gap: 2vw;
  grid-auto-flow: row;
}
.thumbnail {
  position: relative;
  z-index: 2;
}

.thumbnail::before {
  content:"";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.thumbnail:hover::before {
  background: none;
}

.thumbnail-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.thumbnail-title {
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 1.5em;
  padding: 0;
  margin: 1em 0 0 0;
  text-transform: uppercase;
}

.thumbnail-subtitle {
  color: white;
  font-size: 18px;
  text-align: center;
  line-height: 1.5em;
  padding: 0;
  margin: 0 0 1em 0;
}

.thumbnail1::before {
  background: var(--thumbnail-green);
}

.thumbnail-text1 {
  background: var(--thumbnail-text-green);
}

.thumbnail2::before {
  background: var(--thumbnail-yellow);
}

.thumbnail-text2 {
  background: var(--thumbnail-text-yellow);
}

.thumbnail3::before {
  background: var(--thumbnail-indigo);
}

.thumbnail-text3 {
  background: var(--thumbnail-text-indigo);
}

.thumbnail4::before {
  background: var(--thumbnail-orange);
}

.thumbnail-text4 {
  background: var(--thumbnail-text-orange);
}

.thumbnail5::before {
  background: var(--thumbnail-blue);
}

.thumbnail-text5 {
  background: var(--thumbnail-text-blue);
}

.thumbnail6::before {
  background: var(--thumbnail-turquoise);
}

.thumbnail-text6 {
  background: var(--thumbnail-text-turquoise);
}


@media only screen and (min-width: 600px) and (max-width: 900px) {
  .main-grid {
    display: grid;
    grid-template-columns: repeat(2, 42vw);
    grid-template-rows: repeat(3, 42vw);
    margin: 0 7vw;
    grid-gap: 4vw;
    grid-auto-flow: row;
  }
}

@media only screen and (max-width: 600px) {
  .main-grid {
    display: grid;
    grid-template-columns: repeat(1, 80vw);
    grid-template-rows: repeat(6, 80vw);
    margin: 0 7vw;
    grid-gap: 6vw;
    grid-auto-flow: row;
  }
}

img {
  height: 100%;
}

.contact {
  padding: 4rem;
}

.contact p {
  font-size: 24px;
  padding: 0 2em 1em;
  text-align: center;
  color: white;
  font-weight: 400;
}

.contact button {
  color: var(--blue-superdark);
  font-size: 0.8rem;
  line-height: 1em;
  padding: 1.2em 0 1.2em;
  background-color: var(--blue-light);
  text-align: center;
  width: 250px;
  margin: auto;
  display: block;
  cursor: pointer;
  border: none;
  letter-spacing: 0.07em;
}

.contact button:hover {
  color: white;
  background: var(--blue-medium);
  font-weight: 700;
}


/* ===FOOTER=== */

.about-section {
  padding: 4rem 11rem 0;
}

footer a {
  color: var(--blue-dark);
  font-weight: 700;
}

footer a:hover {
  color: var(--blue-medium);
}

.social-media-section {
  font-size: 2em;
  text-align: center;
  color: var(--blue-dark);
  padding-bottom: 4rem;
}

.copyright-section {
  width: 100%;
  padding: 1rem;
}

.copyright {
  color: white;
  font-size: 14px;
  text-align: center;
  padding: 0;
}
